@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif !important;
  color: #3B4A3F;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#AppName {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
}