/* 
!!!Tu są rzeczy które muszą zostac!!!
*/

.ranking-item.first-place {
  font-weight: bold;
  background: linear-gradient(135deg, gold, #f0fa67);
}
.toggle-thumb.light {
  transform: translate(0px, -50%);
}

.toggle-thumb.dark {
  transform: translate(25px, -50%);
}
body.light {
  color: #3B4A3F;
  background-color: #D9EDDF;
}
body.dark {
  color: #ffffff;
  background-color: gray;
}
.unique-dot.active {
  background-color: #84D49D;
}
.trohpies::-webkit-scrollbar {
  width: 12px;
}
.trohpies::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #f9a825, #ffcc80);
  border-radius: 7px;
  border: 3px solid white;
}
.react-calendar {
  margin: 5px;
  background-color: #F1FCF3 !important;
  width: 400px !important;
  padding: 15px;
  font-family: Arial, sans-serif;
  border: none !important;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.react-calendar__tile--active {
  background: #84D49D !important;
  color: white;
}
.react-calendar__tile--active:hover {
  background: #99d1ab !important;
  color: white;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #828282;
}

.react-calendar__tile {
  border-radius: 20px;
  height: auto;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2px !important;
  padding: 6px;
}
.react-calendar__tile--highlighted {
  background-color: #84D49D!important; 
  color: white !important;
}
.react-calendar__tile--highlighted:hover {
  background-color: #99d1ab !important;
  color: white !important;
}
.react-calendar__navigation button {
  max-width: 200px;
  color: #828282 !important;
}
.react-calendar__tile--now {
  background: #84D49D !important;
  color: white !important;
}
.react-calendar__tile--now:hover {
  background: #99d1ab !important;
  color: white !important;
}
@media (max-width: 500px) {
  .react-calendar__navigation button {
    min-width: 22px !important;
  }
}

.diff-browser-center {
  text-align: -webkit-center;
}

/* 
!!!Tu są rzeczy które muszą zostac!!!
*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.textStyleActivity{
  color: #c4bebe;
  border-radius: 7px;
  font-weight: bold;
}
.Co2{
  
  font-weight: bold;
  font-size: 50px;
  color: #000000;
}


.backgroundInfo{
  background-color: white;
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 7px;
  overflow-y: auto;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
  .button {
    align-self: center;
    max-width: 150px;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #409A55;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: #409A55;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    }

.buttonAvatar.Notify:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.activity-date {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.backgroundCalendar{
  align-content: center;
  margin: auto;
  text-align: -webkit-center !important;
}
.AdminStats{
  text-align: center;
  margin-top: 45px;
}

.AdminModal{
  justify-content: center;
}


