.trophy {
    width: 130px !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
  }
  
  .trophy-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .trophy-type {
    font-size: 18px;
  }
  
  .earned {
    background-color: #6bb17b !important;
  }
  
  .locked {
    background-color: #f8d7da !important;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .trophy.earned p {
    margin: 5px 0 0;
    color: white !important;
  }
  